<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrderMapper">
    <insert id="createOrder">
        INSERT INTO orders
        (sponsorid,ownerid,state,pay_time,pay_method,price,discount,actual_payment,create_time,remark)
        VALUES
        (#{sponsorid},#{ownerid},#{state},#{pay_time},#{pay_method},#{price},#{discount},#{actual_payment},now(),#{remark})
    </insert>
    <insert id="addOrderItem" parameterType="bean.OrderItem">
        INSERT INTO order_items
        (orderid,itemid,sponsor,amount,remark,add_time)
        VALUES
        (#{orderid},#{itemid},#{sponsor},#{amount},#{remark},now())
    </insert>
    <update id="updateOrderState">
        UPDATE orders
        SET state=#{state}
        WHERE orderid=#{id}
    </update>

    <delete id="deleteOrderItem">
        DELETE FROM order_items WHERE orderid=#{orderid} AND itemid=#{itemid}
    </delete>

    <select id="getOrderList" resultType="bean.Order">
        SELECT * FROM orders
    </select>
    <select id="getOrderListByUser" resultType="bean.Order">
        SELECT * FROM orders WHERE ownerid=#{id}
    </select>
    <select id="getOrderItemList" resultType="bean.OrderItem">
        SELECT * FROM order_items WHERE orderid=#{id}
    </select>
    <select id="getOrderItem" resultType="bean.OrderItem">
        SELECT * FROM order_items WHERE orderid=#{orderid} AND itemid=#{itemid}
    </select>
    <select id="getOrderByOrderID" resultType="bean.Order">
        SELECT * FROM orders WHERE orderid=#{id}
    </select>
</mapper>