<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrderMapper">
    <insert id="createOrder">
        INSERT INTO orders
        (sponsorid,ownerid,state,pay_time,pay_method,price,discount,actual_payment,create_time,remark)
        VALUES
        (#{sponsorid},#{ownerid},#{state},#{pay_time},#{pay_method},#{price},#{discount},#{actual_payment},now(),#{remark})
    </insert>
    <insert id="addOrderItem" parameterType="bean.OrderItem">
        INSERT INTO order_items
        (orderid,itemid,sponsor,amount,remark,add_time)
        VALUES
        (#{orderid},#{itemid},#{sponsorid},#{amount},#{remark},now())
    </insert>
    <update id="updateOrderState">
        UPDATE orders
        SET state=#{state}
        WHERE orderid=#{id}
    </update>
    <update id="updateItemAmount">
        UPDATE order_items
        SET amount=#{amount}
        WHERE orderid=#{oid} AND itemid=#{itemid}
    </update>

    <delete id="deleteOrderItem">
        DELETE FROM order_items WHERE orderid=#{orderid} AND itemid=#{itemid}
    </delete>

    <select id="getOrderList" resultType="bean.Order">
        SELECT * FROM v_orders ORDER BY create_time DESC
    </select>
    <select id="getOrderListByUser" resultType="bean.Order">
        SELECT * FROM v_orders WHERE ownerid=#{id} ORDER BY create_time DESC
    </select>
    <select id="getOrderItemList" resultType="bean.OrderItem">
        SELECT * FROM v_order_items WHERE oid=#{id}
    </select>
    <select id="getOrderItem" resultType="bean.OrderItem">
        SELECT * FROM v_order_items WHERE oid=#{orderid} AND itemid=#{itemid}
    </select>
    <select id="getOrderByOrderID" resultType="bean.Order">
        SELECT * FROM v_orders WHERE oid=#{id}
    </select>
    <select id="getLastOrderID" resultType="java.lang.Integer">
        SELECT MAX(oid) FROM v_orders;
    </select>
</mapper>