<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PermissionMapper">
    <insert id="addAdminToGroup">
        INSERT INTO permission_admin_group
        VALUES (#{adminid}, #{groupid})
    </insert>
    <delete id="deleteAdminFromGroup">
        DELETE
        FROM permission_admin_group
        WHERE admin_id = #{adminid}
          AND group_id = #{groupid}
    </delete>
    <select id="getPermissionList" resultType="pojo.Permission">
        SELECT *
        FROM permissions
    </select>
    <select id="getUserPermissions" resultType="pojo.Permission">
        SELECT *
        FROM v_group_admins
        WHERE adminid = #{adminid}
    </select>
</mapper>