<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <environments default="development-mysql">
        <environment id="development-mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="util.db.C3P0DataSourceFactory">
                <property name="driverClass" value="${jdbc.driverClass}"/>
                <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
                <property name="user" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}" />
                <property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
                <property name="minPoolSize" value="${c3p0.minPoolSize}" />
                <property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="dao"/>
    </mappers>
</configuration>