/*!
 *  build: vue-admin-beautiful 
 *  vue-admin-beautiful author: chuzhixin 1204505056@qq.com 
 *  vue-admin-beautiful QQ Group(QQ群): 972435319、1139183756 
 *  time: 2021-5-11 18:41:37
 */.icon-container .ant-alert,.icon-container .ant-input-search{margin-bottom:20px}.icon-container .ant-card-body{position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;height:68px;cursor:pointer}.icon-container .ant-card-body i{font-size:28px;text-align:center;pointer-events:none;cursor:pointer}.icon-container .icon-text{height:30px;overflow:hidden;font-size:12px;line-height:30px;text-align:center;text-overflow:ellipsis;white-space:nowrap}