<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.battlehawk233.barberplatform.dao.TokenMapper">
    <cache/>
    <insert id="createToken" parameterType="Token">
        INSERT INTO `token`
        (access_token, login_time, last_access, update_ua, create_ua, login_ip, access_ip, create_host)
        VALUES (#{accessToken}, now(), now(), #{updateUa}, #{createUa}, #{loginIp}, #{accessIp}, #{createHost})
    </insert>
    <update id="updateLastAccess">
        UPDATE `token`
        SET last_access=now()
        WHERE access_token = #{accessToken}
    </update>
    <update id="updateIp">
        UPDATE `token`
        SET access_ip=#{accessIp}
        WHERE access_token = #{accessToken}
    </update>
    <update id="updateUa">
        UPDATE `token`
        SET update_ua=#{updateUa}
        WHERE access_token = #{accessToken}
    </update>
    <delete id="deleteToken">
        DELETE
        FROM `token`
        WHERE access_token = #{accessToken}
    </delete>
    <select id="getTokenById" resultType="Token">
        SELECT *
        FROM `token`
        WHERE access_token = #{accessToken}
    </select>
    <select id="getTokenList" resultType="Token">
        SELECT *
        FROM `token`
    </select>
</mapper>